normalize-css()
base()
// edit()
// debug()

@import "jeet"
@require "_colors/base"
@require "_colors/solarized"
@require "_colors/solar-yellow"
@require "_variables"

@require "_partials/base"
@require "_partials/index"
@require "_partials/page"
@require "_partials/footer"
@require "_partials/paginator"
@require "_partials/navigation"
@require "_partials/highlight"
@require "_partials/github-card"
@require "_partials/blog-excerpt"
@require "_partials/hamburger"
@require "_partials/media"

// contrast checks
check-contrast-ratio(iden, top, bottom)
  ratio = contrast(top, bottom).ratio

  if ratio < 7
    warn('----------------')
    warn(iden)
    warn('contrast is < 7')

  if ratio > 17
    warn('----------------')
    warn(iden)
    warn('contrast is > 17')

check-contrast-ratio('site', $font-color, $background-color)
check-contrast-ratio('alt', $alt-font-color, $alt-bg-color)
check-contrast-ratio('inverse', $inverse-font-color, $inverse-bg-color)

check-contrast-ratio('button', $button-font-color, $default-color)
check-contrast-ratio('button-hover', $button-font-color, $button-hover-color)
check-contrast-ratio('alt-button', $alt-button-font-color, $alt-button-color)
check-contrast-ratio('alt-button-hover', $alt-button-font-color, $alt-button-hover-color)
check-contrast-ratio('inverse-button', $inverse-button-font-color, $inverse-button-color)
check-contrast-ratio('inverse-button-hover', $inverse-button-font-color, $inverse-button-hover-color)

check-contrast-ratio('links', $link-color, $background-color)
check-contrast-ratio('nav-links', $nav-link-color, $nav-bg-color)
check-contrast-ratio('alt-links', $alt-link-color, $alt-bg-color)
check-contrast-ratio('inverse-links', $inverse-link-color, $inverse-bg-color)

check-contrast-ratio('visited', $link-visited-color, $background-color)
check-contrast-ratio('alt-visited', $alt-link-visited-color, $alt-bg-color)
check-contrast-ratio('inverse-visited', $inverse-link-visited-color, $inverse-bg-color)

check-contrast-ratio('selected text', $selected-text-color, $text-selection-color)
check-contrast-ratio('autofill', $autofill-font-color, $autofill-bg-color)
check-contrast-ratio('nav-active', $nav-active-color, $nav-bg-color)
