if page.prev
  - var prevPostURL = url_for(page.prev.path)
  a(href=prevPostURL, class='post-nav prev lsaquo', rel='prev', title=page.prev.title) newer
else
  span(class='post-nav prev empty') n/a

if page.next
  - var nextPostURL = url_for(page.next.path)
  a(href=nextPostURL, class='post-nav next rsaquo', rel='next', title=page.next.title) older
else
  span(class='post-nav next empty') n/a
