$white       = #FFFFFF
$offwhite    = #FAFAFA
$lite-gray   = #EEEEEE
$med-gray    = #D3D3D3
$silver      = #C0C0C0
$silver-gray = #A9A9A9
$gray        = #808080
$dark-gray   = #444444
$black       = #000000
