$base03 = $solar-white
$base02 = $solar-offwhite
$base01 = $solar-med-gray
$base00 = $solar-silver
$base0 = $solar-silver-gray
$base1 = $solar-gray
$base2 = $solar-dark-gray
$base3 = $solar-black

// axis colors
$font-color = $base3
$background-color = $base03
$default-color = darken($solar-yellow, 50%)  // for blockquote, button, figure, hover-glow
$selected-text-color = $background-color
$text-selection-color = $default-color
$autofill-font-color = $background-color
$autofill-bg-color = $default-color

// theme colors
$alt-font-color = $base2
$alt-bg-color = $base02
$alt-button-font-color = $background-color
$alt-button-color = $alt-font-color
$alt-button-hover-color = $default-color$inverse-font-color = $background-color
$inverse-bg-color = $default-color
$link-color = $default-color
$nav-link-color = $background-color
$nav-bg-color = $font-color
$nav-active-color = $nav-link-color
$link-visited-color = darken($solar-violet, 30%)
$border-color = $base01
$divider-color = $base01
$tip-color = transparentify($solar-blue, $background-color)
$info-color = transparentify($solar-cyan, $background-color)
$warn-color = transparentify($solar-orange, $background-color)
$button-font-color = $background-color
$button-hover-color = $nav-bg-color
