$solar-white       = #fdf6e3
$solar-offwhite    = #eee8d5
$solar-med-gray    = #93a1a1
$solar-silver      = #839496
$solar-silver-gray = #657b83
$solar-gray        = #586e75
$solar-dark-gray   = #073642
$solar-black       = #002b36
$solar-yellow      = #b58900
$solar-orange      = #cb4b16
$solar-red         = #dc322f
$solar-magenta     = #d33682
$solar-violet      = #6c71c4
$solar-blue        = #268bd2
$solar-cyan        = #2aa198
$solar-green       = #859900
