.blog-excerpt
  @media $mobile
    border none
    padding 0
    background $bg-color
  @media $non-mobile
    border-radius $border-radius
    border $border-weight solid $border-color
    padding 0 $quarter-headspace $half-gutter
    background $alt-bg-color

  margin-bottom $half-headspace
  color $alt-font-color
  &:last-child
    margin-bottom 0

  a
    link($alt-link-color, 'glow')

  .excerpt
    @media $mobile
      padding 0
    @media $non-mobile
      padding $quarter-headspace 0

    p
      overflow hidden
      clear both
      word-wrap break-word
      margin-top 0

  .tag-list
    margin $quarter-headspace 0 0

  .excerpt-footer
    border-top $border-weight solid $border-color

  @media $mobile
    unstack()
    col(1)
  @media $tablet
    unstack()
    col(1)
  @media $laptop
    unstack()
    col(1)
  @media $hd
    stack()
    col(1/2, uncycle: 3, cycle: 2)
