.blog-excerpt
  border-radius $border-radius
  border $border-weight solid $border-color
  padding 0 $half-gutter $quarter-headspace
  background $alt-bg-color
  margin-bottom $half-headspace
  color $alt-font-color
  unstack()
  col(1)

  @media $mobile
    border none
    padding 0
    background $background-color

  @media $hd
    stack()
    col(1/2, uncycle: 3, cycle: 2)

  &:last-child
    margin-bottom 0

  a
    link($alt-link-color, 'glow')

  .excerpt
    padding $quarter-headspace 0

    @media $mobile
      padding 0

    p
      overflow hidden
      clear both
      word-wrap break-word
      margin-top 0

  .tag-list
    margin $quarter-headspace 0 0

  .excerpt-footer
    border-top $border-weight solid $border-color
