// Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull

pre
  display block
  overflow-x auto
  padding $quarter-headspace
  background $solar-black
  color $solar-silver
  border-radius $border-radius
  font-family $font-mono

  code
    .meta
      padding 0
      margin 0
      border none
      background inherit

    .hljs-comment, .hljs-quote, .hljs-template_comment, .diff .hljs-header, .hljs-doctype, .hljs-pi, .lisp .hljs-string, .hljs-javadoc
      color $solar-gray

    .hljs-keyword, .hljs-selector-tag, .hljs-winutils, .method, .hljs-addition, .css .hljs-tag, .hljs-request, .hljs-status, .nginx .hljs-title
      color $solar-green

    .hljs-number, .hljs-string, .hljs-meta .hljs-meta-string, .hljs-literal, .hljs-doctag, .hljs-regexp, .hljs-command, .hljs-tag .hljs-value, .hljs-rules .hljs-value, .hljs-phpdoc, .hljs-hexcolor, .hljs-link_url, .hljs-params
      color $solar-cyan

    .hljs-title, .hljs-section, .hljs-name, .hljs-selector-id, .hljs-selector-class, .hljs-localvars, .hljs-chunk, .hljs-decorator, .hljs-built_in, .hljs-identifier, .vhdl .hljs-literal, .hljs-id, .css .hljs-function
      color $solar-blue

    .hljs-attribute, .hljs-variable, .hljs-template-variable, .hljs-class .hljs-title, .hljs-type, .lisp .hljs-body, .smalltalk .hljs-number, .hljs-constant, .hljs-parent, .haskell .hljs-type, .hljs-link_reference
      color $solar-yellow

    .hljs-symbol, .hljs-bullet, .hljs-subst, .hljs-meta, .hljs-meta .hljs-keyword, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-link, .hljs-preprocessor, .hljs-preprocessor .hljs-keyword, .hljs-pragma, .hljs-shebang, .hljs-symbol .hljs-string, .diff .hljs-change, .hljs-special, .hljs-attr_selector, .hljs-cdata, .clojure .hljs-title, .css .hljs-pseudo, .hljs-header
      color $solar-orange

    .hljs-built_in, .hljs-deletion, .hljs-important
      color $solar-red

    .hljs-formula, .tex .hljs-formula
      background $solar-dark-gray

    .hljs-link_label
      color $solar-violet

    .hljs-emphasis
      font-style italic

    .hljs-strong
      font-weight bold
