.category
  @media $mobile
    stack()
    col(1)
  @media $tablet
    stack()
    col(1/2, uncycle: 3, cycle: 2)
  @media $desktop
    stack()
    col(1/3, uncycle: 2, cycle: 3)
  @media $hd
    unstack()
    col(1/3, uncycle: 2, cycle: 3)

#intro
  padding $full-headspace 0 $half-headspace

  p, h1
    margin 0
  .logo
    svg
      float left
      display table-cell
    @media $mobile
      col(1)
      svg, img
        height height $intro-img-height-mobile
        width @height
    @media $tablet
      col(1/3)
      svg, img
        height $intro-img-height
        width @height
    @media $desktop
      col(1/3)
      svg, img
        height $intro-img-height
        width @height
    @media $hd
      col(1/3)
      svg, img
        height $intro-img-height
        width @height
  .text
    @media $mobile
      col(1)
      p
        display none
    @media $tablet
      col(2/3)
    @media $desktop
      col(2/3)
    @media $hd
      col(2/3)

    .description
      margin-top $quarter-headspace
      padding-top $quarter-headspace
      border-top $heavy-border-weight solid $base-color
      big
        @media $mobile
          font-size 110%
        @media $tablet
          font-size 115%

#categories
  .recent-photos
    @media $hd
      display none
  .category-about
    @media $mobile
      display block
    @media $tablet
      display block
    @media $desktop
      display none
    @media $hd
      display none

#intro
  .about
    @media $mobile
      display none
    @media $tablet
      display none
    @media $desktop
      display none
    @media $hd
      display block

.about-home
  @media $mobile
    display none
  @media $tablet
    display none
  @media $desktop
    display block
  @media $hd
    display none

.category-about, .about-home, #intro .about
  h2
    display none
    &:first-child
      display block

#photos
  @media $mobile
    display none
  @media $tablet
    display none
  @media $desktop
    display none
  @media $hd
    display block
    h3
      display none
    .category
      unstack()
      col(1, uncycle: 3)
      .gallery a
        unstack()
        col(1/8, uncycle: 3)

#alt
  border-top $border-weight solid $border-color
  .category
    @media $mobile
      &:not(:last-child)
        margin-bottom $quarter-headspace
      .btn.full
        display block
      .btn.abbrv
        display none
    @media $tablet
      col(1/3)
      .btn.full
        display none
      .btn.abbrv
        display block
    @media $desktop
      .btn.full
        display block
      .btn.abbrv
        display none
    @media $hd
      col(1/3)
      .btn.full
        display block
      .btn.abbrv
        display none
