.category
  unstack()
  col(1)

  @media $tablet
    stack()
    col(1/2, uncycle: 4, cycle: 2)
  @media $laptop
    stack()
    col(1/3, uncycle: 2, cycle: 3)
  @media $desktop
    stack()
    col(1/4, uncycle: 3, cycle: 4)

#intro
  padding $full-headspace 0 $half-headspace

  p, h1
    margin 0

  h1
    padding-top 0

  .logo
    col(1/3)

    svg
      float left
      display table-cell

    svg, img
      height $intro-img-height
      width @height

    @media $mobile
      col(1)
      svg, img
        height height $intro-img-height-mobile
        width @height
  .text
    col(2/3)

    @media $mobile
      col(1)
      p
        display none

    .description
      margin-top $quarter-headspace
      padding-top $quarter-headspace
      border-top $heavy-border-weight solid $base-color

#categories
  h3
    padding-top 0

  .recent-photos
    @media $hd
      display none

#photos
  @media $hd
    h3
      display none
    .category
      unstack()
      col(1, uncycle: 3)
      .gallery a
        unstack()
        col(1/8, uncycle: 3)

#alt
  border-top $border-weight solid $border-color
  .category
    stack()
    col(1/4, uncycle: 3, cycle: 4)

    @media $mobile
      unstack()
      col(1, uncycle: 3)
      &:not(:last-child)
        margin-bottom $quarter-headspace
