.mobile, .tablet, .handheld, .laptop, .lapdesk, .hd
  display-none()

.non-mobile, .non-tablet, .non-handheld, .non-hd
  display-some()

@media $mobile
  .mobile
    display-some()
  .non-mobile
    display-none()

@media $tablet
  .tablet
    display-some()
  .non-tablet
    display-none()

@media $handheld
  .handheld
    display-some()
  .non-handheld
    display-none()

@media $laptop
  .laptop
    display-some()

@media $lapdesk
  .lapdesk
    display-some()

@media $hd
  .hd
    display-some()
  .non-hd
    display-none()
