.mobile
  display none
  a&, ul.tl
    display none

  @media $mobile
    display block
    .table-center &
      center()
      display table
    a&
      display inline-block
    ul.tl &
      display table-cell

.non-mobile
  display block
  .table-center &
    center()
    display table
  a&
    display inline-block
  ul.tl &
    display table-cell

  @media $mobile
    display none
    .table-center &, a&, ul.tl
      display none

.laptop
  display none

  @media $laptop
    display block
