article
  h1
    margin 0
  .photo
    margin $half-headspace 0
    figure($base-color)

    @media $mobile
      margin 0

  .meta
    padding $quarter-headspace $quarter-gutter
    margin $half-headspace 0
    border $border-weight solid $border-color
    border-radius $border-radius
    background $alt-bg-color
    text-align center
    ul:first-child
      bold()
    li
      overflow hidden
      text-overflow ellipsis
    li:not(:last-child)
      border-right $border-weight solid $border-color

  footer
    padding $full-headspace 0 0
    border-top $border-weight solid $border-color
    margin-top $half-headspace

    .updated
      col(1/2)
      vertically-align()
      text-align center
      shift(1/4)
      margin-top 0
      margin-bottom 0

    .post-nav
      col(1/4)
      vertically-align()

    .prev
      shift(-1/2)

    .next
      text-align right

    @media print
      display none

    @media $mobile
      .updated
        col(1)
        unshift(1/4)
        text-align center

      .post-nav
        col(1/2)

      .prev
        unshift(-1/2)

      .next
        text-align right

    .empty
      color: $background-color

    a
      link($link-color, 'glow')

.site-tags, .site-archives
  inline-list()
  ul
    padding-left 0
    li
      margin-right $half-gutter

.aside
  margin-bottom $full-headspace

  @media $mobile
    margin-bottom 0
    &:last-child
      margin-bottom $half-headspace

  span
    margin-left $quarter-gutter
    small()
    font-size 80%
    color tint($font-color, 5%)
    &:before
      content '('
    &:after
      content ')'

.breadcrumb
  breadcrumb($divider-color: $border-color)
  margin $half-headspace 0 $border-bottom-margin
  padding-bottom $border-bottom-padding
  opacity 0.9
  border-bottom $border-weight solid $border-color

.tag-list
  li
    margin-right $quarter-gutter
    padding-bottom $quarter-headspace

  .tag
    button($alt-button-color, 'large', $alt-button-font-color)
    hover-color($alt-button-hover-color)
    padding $quarter-headspace $half-gutter

    &:hover
      text-shadow none !important

  .tag-small
    button($alt-button-color, 'small', $alt-button-font-color)

  .tag-medium
    button($alt-button-color, 'medium', $alt-button-font-color)

.two-cols
  columns($count: 2, $gap: $full-gutter)
  padding-bottom $quarter-headspace

aside
  z-index: 1
  col(1)
  shift(0)

  form input
    margin-left $quarter-gutter

  .aside
    col(1)
    &:not(:first-child)
      h3
        margin-top 0

    @media $handheld
      &:first-child
        h3
          margin-top 0

  @media $mobile
    border-top $border-weight solid $border-color
  @media $tablet
    .aside
      col(1/3)
    form.aside
      col(1)
    .site-archives, .site-tags
      col(1/2)

  @media $laptop
    col(1/$golden-ratio-p1)

    &.fixed
      shift(0.616575, span)
      padding-right 5.5%
    &.absolute
      shift(0.636575, span)
      padding-right 0
  @media $desktop
    col(1/4)

    &.fixed
      shift(0.7325, span)
      padding-right 3.5%
    &.absolute
      shift(0.7725, span)
      padding-right 0
  @media $hd
    col(1/5)

    &.fixed
      shift(0.775, span)
      padding-right 2.5%
    &.absolute
      shift(0.825, span)
      padding-right 0

  @media $laptop
    &.fixed
      position fixed
      top $quarter-headspace
      bottom 0
      overflow-x scroll
      overflow-y auto

    &.absolute
      position absolute
      top auto
      bottom 0

#category, #archives, .article
  col(1)

  @media $laptop
    col($golden-ratio/$golden-ratio-p1)
  @media $desktop
    col(3/4)
  @media $hd
    col(4/5)

  margin-bottom $full-headspace

#archives
  .archives-group
    .bottom-tags
      display block
      padding-bottom $border-bottom-padding
      margin-bottom $border-bottom-margin
      border-bottom $border-weight solid $border-color
      &:last-child
        border-bottom none

    li
      vertical-align top

  .inline-tags
    display none

  @media $hd
    .inline-tags
      display block
    .bottom-tags
      display none
    .tag-list
      padding-bottom 0
      margin-bottom 0

.category-tags
  padding-bottom $half-headspace

.excerpts, .gallery, .portfolio, .tag-content
  margin-top $full-headspace

  @media $mobile
    margin-top 0

.tag-content .blog-excerpt, .tag-content .github-card
  clearfix()

.aside .gallery
  margin-top $half-headspace

.excerpts h2, .archives h2, .article h2
  margin-bottom 0

.category-title, .archives-title, .tag-title
  margin 0

// .post-content
//   text-align: justify
//   text-justify: distribute
//   word-break: normal
// a
//   word-break: break-all
// .post-nav
//   white-space: nowrap
// .article-anchor
//   margin-left: $half-gutter
//   display: none
//   &:before
//     content: "#"
//   @media print
//     display: none !important
//   .article-heading:hover &
//     display: inline-block
