#article-toc
  display none
  float right
  width $sidebar-width
  margin-right $sidebar-width * -1
  opacity 0.8
  @media mq-normal
    display block
  &.fixed
    position absolute
    top 0
    bottom 0
    right $sidebar-width

#article-toc-inner
  @extend .inner
  overflow-x hidden
  overflow-y auto
  width $sidebar-width
  .fixed &
    position fixed
    top 0
    bottom 0

#article-toc-top
  margin-top $full-headspace
  font-size 90%
  text-decoration none
  color $dark-gray
  display block
  margin-bottom $full-headspace
  font-family $font-title

.toc-article
  border $border-weight solid $silver-gray
  border-radius $border-radius
  margin $half-headspace 0 0 $full-gutter
  padding $half-tb $half-gutter 0 $half-gutter
  max-width 40%

#toc
  float right
  .toc
    padding 0
    margin $quarter-headspace $half-gutter
    li
      list-style-type none

  .toc-child
    margin-left $full-gutter
    padding-left 0
