extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils
include _mixins/form
include _mixins/excerpts

block title
  include _partials/title

block nav
  +navbar(page.name)

block content
  - var collection = blog
  include _partials/collection-breadcrumb

  #category
    h1(class='category-title non-mobile')= page.title

    if collection.description
      p= collection.description

    if collection.image
      +get-cover-photo(collection.image)

    .excerpts
      div(class='category-tags non-mobile')
        +list-tags(tags_by_collection(collection))

      .category-items
        if collection.pagination
          for post in page.data
            +blog-excerpt(post)
        else
          for post in collection.data
            +blog-excerpt(post)

block aside
  aside#aside
    +subscription(collection, 'index')
    +get-featured(collection, collection.count)

block paginator
  include _partials/paginator
