extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils

block title
  include _partials/title

block nav
  +navbar(page.name)

block content
  include _partials/collection-breadcrumb

  #category
    h1.category-title= page.title

    .gallery
      .category-tags
        +list-tags(tags_by_collection(gallery))

      .category-items
        if gallery.pagination
          for post in page.data
            +get-link(post, 'lg', true)
        else
          for post in gallery.data
            +get-link(post, 'lg', true)

block aside
  aside
    +get-featured(gallery, gallery.count, 'datetaken')
    +get-recent(gallery, gallery.count, 'datetaken')
    +get-random(gallery, gallery.count, 'datetaken')

block paginator
  include _partials/paginator
