extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils

block nav
  +navbar(page.title)

block title
  include _partials/title

block content
  ul.breadcrumb
    li.non-mobile
      a(href=site.url)= site.title

    li= page.title

  article.article(itemscope itemtype='http://schema.org/Article')
    h1.non-mobile(itemprop='name')= page.title

    div(class='content one-col', itemprop='articleBody')
      != page.html

    div(class='content two-cols', itemprop='articleBody')
      != page.html

block aside
  aside#aside
    each category in collections
      if category.show
        +get-featured(category, category.count)
