extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils
include _mixins/github-card
include _mixins/form

block title
  include _partials/title

block nav
  +navbar(page.name)

block content
  - var collection = portfolio
  include _partials/collection-breadcrumb

  #category
    h1(class='category-title non-mobile')= page.title

    if collection.image
      +get-cover-photo(collection.image)

    .portfolio
      div(class='category-tags non-mobile')
        +list-tags(tags_by_collection(collection), null, 6)

      .category-items
        if collection.pagination
          for project in page.data
            +github-card(project)
        else
          for project in collection.data
            +github-card(project)

block aside
  aside#aside
    +subscription(collection, 'index')
    +get-featured(collection, collection.count)
    +get-recent(collection, collection.count)
    +get-random(collection, collection.count)

block paginator
  include _partials/paginator
