extends base
include _mixins/navbar
include _mixins/aside
include _mixins/utils
include _mixins/github-card

block title
  include _partials/title

block nav
  +navbar(page.name)

block content
  include _partials/collection-breadcrumb

  #category
    h1.category-title= page.title
    .projects
      .category-tags
        +list-tags(tags_by_collection(projects))

      .category-items
        if projects.pagination
          for project in page.data
            +github-card(project)
        else
          for project in projects.data
            +github-card(project)

block aside
  aside
    +get-featured(projects, projects.count)
    +get-recent(projects, projects.count)
    +get-random(projects, projects.count)

block paginator
  include _partials/paginator
